REACT_APP_STAKING_REWARDS_FACTORY_ADDRESS_MAINNET=''
REACT_APP_STAKING_REWARDS_FACTORY_ADDRESS_HARMONY=''
REACT_APP_STAKING_REWARDS_FACTORY_ADDRESS_HARMONY_TESTNET=''
REACT_APP_STAKING_REWARDS_FACTORY_ADDRESS_RINKEBY=''
REACT_EDITOR=atom
